// .profileCards {
//     top: 2%;
//     height: 30em;
//     width: 20em;
// }

ion-content {
    --background: linear-gradient(to top, #8d09c6, #afafaf);
}

.editProfileButton {
--background: rgb(147, 147, 147);

}

.profilePic {
    // object-fit: cover;
    height: 20em;
    width: 20em;
    // position: relative;
    left: 36.5em;
    top: 5em;
    border-radius: 50%;
    overflow: hidden;
}

.picture-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profileInfo {
    font-size: large;
    position: relative;
    top: 1em;
}

.profilePictures {
    height: auto;
    width: 100%;
    object-fit: cover;
  max-height: 10.5em;
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

// .addProfileCard {
//   top: 2%;
//   height: 30em;
//   width:20em;
// }

// .addProfileButton {
//   position: relative;
//   height: 5em;
//   width: 10em
// }