<!-- <ion-card class="ProfileCards"> -->


<!-- <ion-card-content >
    <div class="ProfilePictures">
      <img [src]="profileIn.profileImageURL" alt="profile-pic">
    </div>
    <ion-card-title>Username: {{profileIn.profileUsername}}</ion-card-title>
    <ion-card-subtitle>Email: {{profileIn.profileEmail}}</ion-card-subtitle>
    <ion-card-subtitle>Phone Number: {{profileIn.profilePhoneNumber}}</ion-card-subtitle>
    <ion-button>Edit Profile</ion-button>
  </ion-card-content> -->

<!-- </ion-card> -->

<!-- <ion-content>
  <div class="profilePic">
    <img [src]="profileIn.profileImageURL" alt="profile-pic">
  </div>
</ion-content> -->

<ion-content class="profileData">

<div class="picture-container">
  <ion-img [src]="profileIn.profilePicture" alt="Profile Pic" class="profilePic"></ion-img>
</div>

<div class="profileInfo">
  <ion-title style="font-size: 25px; text-align: center;"> Username:<p style="font-size: 15px; text-align: center;">
      {{profileIn.username}}</p>
  </ion-title>
  <ion-title style="font-size: 25px; text-align: center;">Email:<p style="font-size: 15px; text-align: center;">
      {{profileIn.email}}</p></ion-title>
  <ion-title style="font-size: 25px; text-align: center;">Phone Number:<p style="font-size: 15px; text-align: center;">
      {{profileIn.phoneNumber}}</p></ion-title>
  </div>

  <ion-button class="editProfileButton">
    Edit Info
  </ion-button>

  </ion-content>