<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-card class="card1">
        <ion-card-title class="ion-text-center">
          Sign In
        </ion-card-title>
        <ion-input type="email" [(ngModel)]="emailIn" placeholder="Email"></ion-input>
        <ion-input type="password" [(ngModel)]="passwordIn" placeholder="Password"></ion-input>
        <ion-button (click)="login()"  shape="round" expand="block" fill="solid">
          Sign in
        </ion-button>
      </ion-card>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-card class="card2">
        <ion-card-title>
          Don't have an account?
        </ion-card-title>
        <br>
          <ion-button (click)="presentRegister()" shape="round" expand="block" fill="solid">
            Sign up
          </ion-button>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>