<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
      <ion-card>
        <ion-input type="email" [(ngModel)]="emailIn" placeholder="Email"></ion-input>
        <ion-input type="password" [(ngModel)]="passwordIn" placeholder="Password"></ion-input>
      </ion-card>
    <ion-button (click)="login()">
      Sign in
    </ion-button>
  </ion-grid>

  <ion-grid>
    <ion-card>
      <ion-input type="email" [(ngModel)]="registerEmailIn" placeholder="Enter Email"></ion-input>
      <ion-input type="password" [(ngModel)]="registerPasswordIn" placeholder="Enter Password"></ion-input>
      <ion-input type="password" [(ngModel)]="registerPasswordConfIn" placeholder="Confirm Password"></ion-input>
    </ion-card>
    <ion-button (click)="register()">
      Sign up
    </ion-button>
  </ion-grid>

</ion-content>