

   <ion-header>
  <ion-toolbar>
    <ion-title>Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar
    [(ngModel)]="searchText"
    (ionInput)="searchFriends()"
    placeholder="Search users">
  </ion-searchbar>

  <!-- <ion-list lines="none"> -->



 <ion-list lines="none">

  @for (friend of filteredFriends; track friend.profileUsername) {

    <ion-card>

      <ion-item>

        <ion-avatar slot="start">
          <img [src]="friend.profileImageURL">
        </ion-avatar>

        <ion-label>
          <h2>{{ friend.profileUsername }}</h2>
          <p>{{ friend.profileEmail }}</p>
        </ion-label>

        <ion-button
          slot="end"
          fill="outline"
          (click)="toggleInfo(friend)"
          style="background-color: #7e0e9a; color: white;"
          >
→
         {{ friend.expanded ? 'Hide Info' : 'View Info' }}

        </ion-button>

      </ion-item>

      @if(friend.expanded){

        <ion-card-content>

          <h3>Contact Info</h3>

          <p>
            📧 {{ friend.profileEmail }}
          </p>

          <p>
            📱 {{ friend.profilePhoneNumber }}
          </p>

          <h3>Bucket List</h3>

          <p>
            No bucket list items yet.
          </p>

          <h3>Photos</h3>

          <img
            [src]="friend.profileImageURL"
            
            style="max-width:200px;border-radius:12px;">

        </ion-card-content>

      }

    </ion-card>

  }

</ion-list>