<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col></ion-col>
      <ion-col class="center-container">
        
        <ion-card class="mycard">
          <ion-card-title color="primary">Select Bucket List Items</ion-card-title>
          <ion-select multiple="true" [(ngModel)]="selectedItems" [compareWith]="compareWithFn">
            <ion-select-option *ngFor="let bucketItems of bucketItemArray" [value]="bucketItems">
              {{ bucketItems.title }}
            </ion-select-option>
          </ion-select>
        </ion-card>
        
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <br>
      <br>
      <br>
      <br>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-button shape="round" expand="block" fill="solid" size="large" (click)="takePhoto()">
          Take a photo
        </ion-button>
        <br>
        <ion-title class="ion-text-center" color="light">
          OR
        </ion-title>
        <br>
        <ion-button shape="round" expand="block" fill="solid" size="large" (click)="getPhotoFromDevice()">
          Choose from camera roll
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- remove this later, this is only for testing purposes -->
    <!-- <ion-button (click)="displayPhoto()">
      display
    </ion-button> -->
    <!-- <ion-img class="image-formatting" [src]="imageBase64" /> -->
  </ion-grid>
</ion-content>