.mycard{
    height: 75px;
    width: 250px;
    top: 50%;
    text-align: center
}

ion-content {
  --background: linear-gradient(to top, #8d09c6, #afafaf);
}

.image-formatting {
  width: 100%;
  height: 100%;
}

.center-container {
  display: flex;
  justify-content: center;
}