<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-content-center">
      <ion-col size="4"> </ion-col>
      <ion-col size="4">
        <ion-label>Select Bucket List Items</ion-label>
        <ion-select multiple="true" [(ngModel)]="selectedItems" [compareWith]="compareWithFn">
          <ion-select-option *ngFor="let bucketItems of bucketItemArray" [value]="bucketItems">
            {{ bucketItems.itemName }}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="4"> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="3">
        <ion-button class="full-width" (click)="takePhoto()">
          Take a photo
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-title class="ion-text-center">
          OR
        </ion-title>
      </ion-col>
      <ion-col size="3">
        <ion-button class="full-width" (click)="addPhoto()">
          Add photo to bucket list item
        </ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>