<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>

  <div class="profile-container">

    <img
      [src]="profileImageURLInput || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
      class="profile-pic">

    <ion-card>

      <ion-card-content>

        <ion-input
          label="Username"
          [(ngModel)]="profileUsernameInput">
        </ion-input>

        <ion-input
          label="Email"
          [(ngModel)]="profileEmailInput">
        </ion-input>

        <ion-input
          label="Phone Number"
          [(ngModel)]="profilePhoneNumberInput">
        </ion-input>

        <ion-input
          label="Profile Picture URL"
          [(ngModel)]="profileImageURLInput">
        </ion-input>

      </ion-card-content>

    </ion-card>

    <ion-button (click)="saveProfile()">
      Save Profile
    </ion-button>

  </div> -->



<ion-content>
  <div class="profile-container">
    
    <!-- 1. DISPLAY VIEW (Shows when NOT editing) -->
    <div *ngIf="!isEditing">
      <div class="picture-container">
  <ion-img [src]="profileImageURLInput" alt="Profile Pic" class="profilePic"></ion-img>
</div>

<div class="profileInfo">
  <ion-title style="font-size: 25px; text-align: center; color: rgb(0, 0, 0);"> Username:<p style="font-size: 15px; text-align: center; color: white;">
      {{profileUsernameInput}}</p>
  </ion-title>
  <ion-title style="font-size: 25px; text-align: center; color: black;">Email:<p style="font-size: 15px; text-align: center; color: white;">
      {{profileEmailInput}}</p></ion-title>
  <ion-title style="font-size: 25px; text-align: center; color: black;">Phone Number:<p style="font-size: 15px; text-align: center; color: white;">
      {{profilePhoneNumberInput}}</p></ion-title>
  </div>

   <ion-buttons slot="end" *ngIf="!isEditing">
      <ion-button class="editProfileButton" (click)="isEditing = true"> <img src="assets/Edit Icon.png" alt="edit-icon" style="width:20px; height:20px; vertical-align: middle; margin-right: 8px;">Edit Profile</ion-button>
    </ion-buttons>
    </div>

    <!-- 2. SETUP / EDIT FORM VIEW (Shows when editing) -->
    <div *ngIf="isEditing">
      <img [src]="profileImageURLInput || 'https://ionicframework.com/docs/img/demos/avatar.svg'" class="profile-pic">
      <ion-card>
        <ion-card-content>
          <ion-input label="Username" [(ngModel)]="profileUsernameInput"></ion-input>
          <ion-input label="Email" [(ngModel)]="profileEmailInput"></ion-input>
          <ion-input label="Phone Number" [(ngModel)]="profilePhoneNumberInput"></ion-input>
          <ion-input label="Profile Picture URL" [(ngModel)]="profileImageURLInput"></ion-input>
        </ion-card-content>
      </ion-card>
      
      <ion-button expand="block" (click)="saveProfile()">
        Save Profile
      </ion-button>
    </div>

  </div>
</ion-content>







<!-- 
  <app-profile-display [profileIn]="testProfileInfo"></app-profile-display>

</ion-content> -->
