<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-container">

    <img
      [src]="profileImageURLInput || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
      class="profile-pic">

    <ion-card>

      <ion-card-content>

        <ion-input
          label="Username"
          [(ngModel)]="profileUsernameInput">
        </ion-input>

        <ion-input
          label="Email"
          [(ngModel)]="profileEmailInput">
        </ion-input>

        <ion-input
          label="Phone Number"
          [(ngModel)]="profilePhoneNumberInput">
        </ion-input>

        <ion-input
          label="Profile Picture URL"
          [(ngModel)]="profileImageURLInput">
        </ion-input>

      </ion-card-content>

    </ion-card>

    <ion-button (click)="saveProfile()">
      Save Profile
    </ion-button>

  </div>

</ion-content>
