ion-content {
  --background: linear-gradient(to top, #8d09c6, #afafaf);
}


.editProfileButton {
  --background: rgb(255, 255, 255);
  height: 2em;
  width: 13em;
  padding: 8px 16px;
  position: relative;
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    height: auto;
    top: 4em;
}

.editProfilePic {
  padding: 8px 16px;
  position: relative;
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    height: auto;
    top: 4em;
}

.profilePic {
  // object-fit: cover;
  height: 22em;
  width: 22em;
  position: relative;
  top: 1.5em;
  border-radius: 50%;
  overflow: hidden;
  display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    height: auto;
}

.profileInfo {
  font-size: large;
  position: relative;
  top: 3em;
}

.addProfileCard {
  top: 2%;
  height: 30em;
  width: 20em;
  display: flex;
  flex-direction: column;
}

.addProfileButton {
  position: relative;
  height: 2em;
  width: 15em;
  margin-top: 1.5em;
}