<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-button (click)="signOut()" color="danger" slot="end">
      Sign out
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    Hello, username
  </ion-header>

  <ion-card class="bar">
    <ion-card-title> Progress </ion-card-title>
    <!-- graphic with completed number from bucket list page card -->
  </ion-card>

  <ion-card class="bar">
    <ion-card-title> Next </ion-card-title>
    <!-- incomplete items -->
    <!-- sort by date -->
  </ion-card>

  <ion-card class="bar">
    <ion-card-title> Suggested </ion-card-title>
    <!-- items from community -->
  </ion-card>

</ion-content>