<ion-header>
  <ion-toolbar>
    <ion-title>
      {{userName}}'s Bucket List 🌎
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- Progress Card -->

  <div class="progress-card">

    <h1> 1 / 2</h1> 
    <!-- fill in with mustache? when ready -->

    <p> x / y of your dreams completed</p>
    <!-- also fill in mustache -->

    <ion-progress-bar
      [value]="progress / 100">
    </ion-progress-bar>

  </div>


  <!-- Bucket Items -->

  <ion-card *ngFor="let item of bucketList; let i=index">


    <div class="number-circle">
      {{i + 1}}
    </div>


    <img [src]="item.image">


    <ion-card-header>

      <ion-card-title>
        {{item.title}}
      </ion-card-title>

    </ion-card-header>


    <ion-card-content>

      <p>
        {{item.description}}
      </p>


      <div 
      class="status completed"
      *ngIf="item.completed">

        ✓ Completed

      </div>


      <div 
      class="status incomplete"
      *ngIf="!item.completed">

        ✕ Not Completed

      </div>


    </ion-card-content>


  </ion-card>


</ion-content>