<ion-header>
  <ion-toolbar>
    <ion-title>
      Your Bucket List 🪣
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-button expand="block" (click)="addCompletedItem()">
  Add Completed Goal ✅
</ion-button>

<ion-button expand="block" (click)="addIncompleteItem()">
  Add Incomplete Goal ⭕
</ion-button>

<ion-content>

  <!-- Progress Card -->

  <div class="progress-card">

    <h1>{{completedItems}} / {{totalItems}}</h1>

    <p>{{progress | number:'1.0-0'}}% of your dreams completed ✨</p>

    <ion-progress-bar
      [value]="progress / 100">
    </ion-progress-bar>

  </div>


  <!-- Bucket Items -->

  <ion-card *ngFor="let item of bucketList; let i=index">


    <div class="number-circle">
      {{i + 1}}
    </div>


    <img [src]="item.image">


    <ion-card-header>

      <ion-card-title>
        {{item.title}}
      </ion-card-title>

    </ion-card-header>


    <ion-card-content>

      <p>
        {{item.description}}
      </p>


      <div 
      class="status completed"
      *ngIf="item.completed">

        ✓ Completed

      </div>


      <div 
      class="status incomplete"
      *ngIf="!item.completed">

        ✕ Not Completed

      </div>

      <ion-button
  color="danger"
  expand="block"
  (click)="deleteItem(item.id)">

  🗑 Remove Goal

</ion-button>

    </ion-card-content>


  </ion-card>


</ion-content>